
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ site_title }}{% if meta.title %} > {{ meta.title }}{% endif %}</title>
    {% if meta.description %}
        <meta name="description" content="{{ meta.description|striptags }}" />
    {% endif %}
    {% if meta.robots %}
        <meta name="robots" content="{{ meta.robots }}" />
    {% endif %}

    {% if current_page %}
        <link rel="canonical" href="{{ current_page.url }}" />
    {% endif %}

    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="assets/favicon/site.webmanifest">
    <link rel="mask-icon" href="assets/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="assets/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="assets/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">


    <!-- Bootstrap core CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>


    
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{ theme_url }}/css/grid.css" type="text/css" />
    <link rel="stylesheet" href="{{ theme_url }}/css/radioact.css" type="text/css" />

{% block include_header_end %}

{% endblock %}

<!--
  <script>if(!sessionStorage.getItem("_swa")&&document.referrer.indexOf(location.protocol+"//"+location.host)!== 0){fetch("https://counter.dev/track?"+new URLSearchParams({referrer:document.referrer,screen:screen.width+"x"+screen.height,user:"mxhg",utcoffset:"1"}))};sessionStorage.setItem("_swa","1");</script>
-->

  </head>

<body class="bg-offwhite">

    
    <div>
    <header class="border-top border-black px-2 py-1 py-sm-3 my-0 mx-0 container-fluid site-header bg-white">

      <!---@TODO add chunt option -->

      <div class="row mx-0 ">

      <h2 class="mb-0 mt-1"><a href="{{ base_url }}" class="text-decoration-none text-reset">{{ current_page.title }}</a> <a title="suggest a station (via e-mail)" href="mailto:{{ config.contact }}" style="text-decoration: none;">+<sup><span class="fs-6">@</span></sup></a></h2>
      <p id="tagline" class= "d-none d-md-block" >shamelessly copied from <a href="https://www.thewire.co.uk/issues/449" target="_blank">The Wire</a> magazine.</p>

      </div>

      <div class="row my-0 mx-0">

        <div class="col-md-3 ml-2 col-sm-2 mt-2 mt-md-1 mb-2 mb-md-1">
            <audio id="audio-player" controls="controls">
              <source id="audio-source" src="" type="audio/mp3" />
              Your browser does not support the audio element.
            </audio>
        </div>

        <div class="d-none d-sm-block col-1 mx-0"></div>

        <div class="d-flex col-md-6 align-items-center">
          <p class="h5" id="tagmenu">You are now listening to <span id="player-station">(null)</span>. <a href='{{ current_page.id|link("#{url_params}&random=true") }}'>Play a random station</a> or <a onclick="" href='{{ current_page.id|link("#{url_params}&shuffle=true") }}'>shuffle grid</a> or<wbr> {% if url_param('onair', 'boolean') %}
            <a class="" href='{{ current_page.id|link("#{url_params}&onair=false") }}'>show all stations</a>
            {% else %}
            <a class="" href='{{ current_page.id|link("#{url_params}&onair=true") }}''>show only stations that are live right now</a>{% endif %}. <span class="d-none d-sm-inline-block">View {% if url_param('display', 'string') == 'list' %}<a href="{{ current_page.id|link }}">as grid</a>{%else %}<a href="{{ current_page.id|link('display=list') }}">as list</a>{% endif %}.</span></p>
        </div>

        </div>

      </div>
    </header>

    <div id="page">

            <!---@TODO add chunt option -->



    <div>


    <div>

    <section class="page">

      <div class="row mx-2 row-cols-xl-5 row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1 mb-3">

        {% set stations = pages('_stations') %}

        {% if url_param('onair', 'boolean') or url_param('random', boolean) %}
          {% set stations = stations | filter(station => station.meta.stream_url[0] is not empty and station.meta.stream_url[0][2] is not empty and station.meta.stream_url[0][2] == "online") %} <!-- filter online stations depending on whether first stream in list is online (should therefore always be main station) -->
        {% endif %}

        {% if url_param('shuffle', 'boolean') %}
            {% set random_stations = [] %}
            {% for i in 1..stations | length %}
              {% set random_stations = random_stations | merge([random(stations | filter(value => value not in random_stations))]) %}
            {% endfor %}
            {% set stations = random_stations %}
        {% endif %}

        {% if url_param('display', 'string') == 'list' %}


        <table class="station-table table table-hover table-responsive-sm">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Location</th>
              <th scope="col">Hours</th>
              <th scope="col">rec'd</th>
              <th scope="col">Description</th>
              <th scope="col">Play</th>
              <th scope="col">Website</th>
              <th scope="col">Support</th>
            </tr>
          </thead>
          <tbody>
          {% for station in stations|filter((s) => s.id | split('/') | last != "chuntoo") %}

            <tr class = "station-row" id="{{ station.id | split('/') | last }}"">
              <th scope="row">{{ station.title }}</th>
              <td>{{ station.meta.location }}</td>
              <td>{{ station.meta.play_time }}</td>
              <td>{% if station.meta.recommended is defined %}{% for rec in station.meta.recommended %}<span class="align-middle badge bg-dark rec-badge">{{ rec }}</span>{% endfor %}{% endif %}</td>
              <td>{{ station.meta.description }}</td>
              <td>{% for stream in station.meta.stream_url %}
                {% if stream[2] is empty  %}
                  {% set online_status = '' %}
                {% else %}
                  {% set online_status = stream[2] %}
                {% endif %}
                <button class="btn btn-link py-0" type="button" onclick="loadStream('{{ station.meta.title }}', '{{ stream[1] }}', '{{ station.id | split('/') | last }}')">
                  <span title="station appears to be {{ online_status }}" class="dot-air {{ online_status }}"></span><span class="iconify" data-icon="bi:play-fill"></span>
                </button>
                <noscript>enable <code>js</code></noscript>{% endfor %}</td>
              <td><a href="{{ station.meta.url }}">{{ station.meta.url|replace({'https://': '', 'http://': '', 'www.': '', '/': ''}) }}/</a></td>
              <td><a class="btn btn-link py-0  fw-900" href="{% if station.meta.support is not empty %}{{station.meta.support}}" target="_blank{% else %}mailto:{{ config.contact }}?subject={{ station.title }} information&body=Hi, here's some additional information on {{ station.title }}: "
              class="link-danger{% endif %}">{% if station.meta.support is not empty %}<span class="iconify" data-icon="clarity:cursor-hand-grab-line"></span><noscript>submit support link</noscript>{% else %}<span class="iconify" data-icon="fluent:mail-24-regular"></span><noscript>support</noscript>{% endif %}</a></td>
            </tr>
          {% endfor %}

          </tbody>
       </table>

        {% else %}

          {% for station in stations|filter((s) => s.id | split('/') | last != "chuntoo") %}
        
                <div class="col themed-grid-col">
                    <div id="{{ station.id | split('/') | last }}" class="station-card rounded-0 card h-100">
                        <img src="{{ assets_url }}/images/{{ station.meta.logo }}" class="rounded-0 card-img-top img-fluid d-none d-sm-block" alt="{{ station.meta.title }} logo">
                        <div class="card-body">
                            <h5 class="card-title">{{ station.title }}{% if station.meta.recommended is defined %} {% for rec in station.meta.recommended %}<h6><span class="position-absolute top-0 start-20 translate-middle badge bg-dark">{{ rec }}</span></h6>{% endfor %}{% endif %}</h5>
                            <h6 class="card-subtitle mb-2 text-muted"><span alt="location">{{ station.meta.location }}</span></h6>
                            <h6 class="card-subtitle mb-2 text-muted"><span alt="hours">{{ station.meta.play_time }}</span></h6>
                            <div class="d-md-none">
                              <details>
                                <p class="card-text station-description">{{ station.meta.description }}</p>
                              </details>
                            </div>
                            <div class="d-none d-md-block">
                                <p class="card-text station-description">{{ station.meta.description }}</p>
                            </div>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><a href="{{station.meta.url}}" target="_blank">Website</a></li>
                            <li class="list-group-item"><a href="{% if station.meta.support is not empty %}{{station.meta.support}}" target="_blank{% else %}mailto:{{ config.contact }}?subject={{ station.title }} information&body=Hi, here's some additional information on {{ station.title }}: " class="link-danger{% endif %}">{% if station.meta.support is empty %}Submit a support link{% else %}Support the station</a>{% endif %}</a></li>
                            {% for stream in station.meta.stream_url %}
                            {% if stream[2] is empty  %}
                              {% set online_status = '' %}
                            {% else %}
                              {% set online_status = stream[2] %}
                            {% endif%}
                            <button class="list-group-item fw-bold" onclick="loadStream('{{ station.meta.title }}', '{{ stream[1] }}', '{{ station.id | split('/') | last }}')"><span title="station appears to be {{ online_status }}" class="dot-air {{ online_status }}"></span></span>Play {{ stream[0] }}</button>
                            {% endfor %}
                        </ul>
                    </div>

                </div>
              

            {% endfor %}

            <div class="col d-none d-sm-block themed-grid-col" id="chat-card">
            <div class="station-card rounded-0 card h-100 p-1">
              <script id="cid0123456790" data-cfasync="false" async src="//st.chatango.com/js/gz/emb.js" style="width: 100%;height: 100%;">{"handle":"chuntoo","arch":"js","styles":{"a":"ffffff","c":"000000","d":"000000","f":0,"i":0,"k":"000000","l":"000000","m":"CC0000","n":"FFFFFF","p":"10.26","q":"000000","usricon":0,"sbc":"000000","fwtickm":0}}</script>
              <noscript><p>Please enable JavaScript to see the chatroom or enable JavaScript and go to <a href="https://chuntoo.chatango.com">chuntoo.chatango.com</a>.</p></noscript>
            </div>
            </div>
        {% endif %}


      </div>
    </div>
  </section> 
</div>

<footer class="small text-center border-top border-bottom border-black pt-3 pb-3 text-muted bg-white">
  This is a website under development meant for private use only. Copyrights for the content are held by the respective station owners.<br>
  All times in local station time.
</footer>

  <script>

  const originalTitle = document.getElementsByTagName('title')[0].innerHTML;

  function loadStream(stationName, streamUrl, streamID){
      
      var player=document.getElementById('audio-player');
      var source=document.getElementById('audio-source');
      var listening=document.getElementById('player-station');
      var title=document.getElementsByTagName('title')[0];
      
      source.src=streamUrl;
      
      player.load(); //just start buffering (preload)
      player.play(); //start playing

      listening.innerHTML = '<a title="jump to station in grid/list" class="text-reset text-decoration-none" href="#'+ streamID + '">' + stationName + '</a>';
      title.innerHTML = originalTitle + " (" + stationName + ")";
  }

  </script>

{% if url_param('random', 'boolean') %}

    {% set random_station = random(stations) %}
    {% set random_station_name =  random_station.meta.title %}
    {% set random_station_url = random(random_station.meta.stream_url)[1] %}

    <script>
    loadStream('{{random_station_name}}', '{{random_station_url}}', '{{random_station.id | split('/') | last}}');
    </script>

{% endif %}

<script src="https://code.iconify.design/2/2.1.1/iconify.min.js"></script>

    
</body>
</html>
